@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

html,
body,
section {
  font-family: Courgette,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background {
  background-image: linear-gradient(#000203 0%, #00345E 85%, #004D89 100%);
}

.illustration {
  display: block;
  position: relative;
  width: auto;
  height: 90%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.coolthing{
  color: #FFF;
  text-align: center;
  align-items: center;
  z-index: 200;
  font-size: 24px;
  padding:10px;

}


.hover {
  width: 100%;
  height: 100%;
  animation: hover 5s ease-in-out infinite;
  animation-fill-mode: forwards;
}

.number-one {
  transform: translateY(-10px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-10 2675ms ease-in-out infinite;
  animation-fill-mode: forwards;
}

.number-two {
  transform: translateY(-20px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-20 3303ms ease-in-out infinite;
  animation-delay: 2555ms;
  animation-fill-mode: forwards;
}

.number-three {
  transform: translateY(-30px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-30 2986ms ease-in-out infinite;
  animation-delay: 1295ms;
  animation-fill-mode: forwards;
}

.number-four {
  transform: translateY(-50px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-50 2204ms ease-in-out infinite;
  animation-delay: 5133ms;
  animation-fill-mode: forwards;
}

.number-five {
  transform: translateY(-60px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-60 2434ms ease-in-out infinite;
  animation-delay: 1310ms;
  animation-fill-mode: forwards;
}

.number-six {
  transform: translateY(-70px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-70 3790ms ease-in-out infinite;
  animation-delay: 5381ms;
  animation-fill-mode: forwards;
}

.number-seven {
  transform: translateY(-80px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-80 3508ms ease-in-out infinite;
  animation-delay: 1808ms;
  animation-fill-mode: forwards;
}

.number-eight {
  transform: translateY(-90px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-90 4216ms ease-in-out infinite;
  animation-delay: 2216ms;
  animation-fill-mode: forwards;
}

.number-nine {
  transform: translateY(-100px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-100 3889ms ease-in-out infinite;
  animation-delay: 5732ms;
  animation-fill-mode: forwards;
}

.number-ten {
  transform: translateY(-110px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-110 2156ms ease-in-out infinite;
  animation-delay: 3811ms;
  animation-fill-mode: forwards;
}

.number-eleven {
  transform: translateY(-120px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-120 2650ms ease-in-out infinite;
  animation-delay: 34ms;
  animation-fill-mode: forwards;
}

.number-twelve {
  transform: translateY(-150px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-150 2510ms ease-in-out infinite;
  animation-delay: 224ms;
  animation-fill-mode: forwards;
}

.number-thirteen {
  transform: translateY(-160px) translateZ(0);
  opacity: 0;
  animation: fadeNumberDown-160 4944ms ease-in-out infinite;
  animation-delay: 2245ms;
  animation-fill-mode: forwards;
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-3px);
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeNumberDown-10 {
  0% {
    transform: translateY(-10px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(140px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-20 {
  0% {
    transform: translateY(-20px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(140px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-30 {
  0% {
    transform: translateY(-30px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(130px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-50 {
  0% {
    transform: translateY(-50px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(110px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-60 {
  0% {
    transform: translateY(-60px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(90px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-70 {
  0% {
    transform: translateY(-70px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(80px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-80 {
  0% {
    transform: translateY(-80px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(80px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-90 {
  0% {
    transform: translateY(-90px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(60px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-100 {
  0% {
    transform: translateY(-100px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(60px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-110 {
  0% {
    transform: translateY(-110px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(30px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-120 {
  0% {
    transform: translateY(-120px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(20px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-150 {
  0% {
    transform: translateY(-150px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(10px) translateZ(0);
    opacity: 0;
  }
}
@keyframes fadeNumberDown-160 {
  0% {
    transform: translateY(-160px) translateZ(0);
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(10px) translateZ(0);
    opacity: 0;
  }
}